div{ 
  font-size: 100px;
  font-family: 'source-sans-pro-regular',sans-serif,helvetica,arial
}
.sides{
  display: inline-block;
  transform: scale(0.5,1.3);
  color: #39C2D7;
}
.epam{
  display: inline-block;
  color: #464547;
  letter-spacing: -4px;
  transform: scale(0.9,1.1);
  font-size: 1.5em;
}